@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
}

.heading {
    margin-top: 50px;
    margin-bottom: 5px;
}

.companyname {
    margin-bottom: 30px;
}

.ordercontainer {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid black;
}

.order {
    justify-content: space-between;
    display: flex;
    width: 800px;
    padding: 10px;
    border-radius: 3px;
}

.order:hover {
    background-color: lightgray;
}

.addorder {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 110%;
    background-color: black;
    color: white;
    border-radius: 3px;
    outline: none;
}

.addorder {
    cursor: pointer;
}

.deleteBtn {
    height: 25px;
    width: 25px;
    margin-top: 15px;
    background-color: red;
    color: white;
}

.deleteBtn:hover {
    cursor: pointer;
}

.order p {
    font-size: 110%;
}

.modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.orderform {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid black;
    width: 300px;
    height: auto;
    position: relative;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

.form-control input {
    width: 100%;
    padding: 3px;
    font-size: 110%;
}

.submitBtn {
    margin-top: 15px;
    font-size: 110%;
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
}

.submitBtn:hover {
    cursor: pointer;
}

.hidemodalbutton {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: red;
    color: white;
}

.hidemodalbutton:hover {
    cursor: pointer;
}